html body {
  max-height: 100%;
  max-width: 100%;
}

#batRow {
  min-height: 20em;
  background-color: blue;
}

#playNewGame {
  /*margin-top: 5em;
  margin-bottom: 5em;*/
}

.letterSpaces {
  border-bottom: 5px solid black;
  margin-left: 3px;
  margin-right: 3px;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

.letterDisplay {
  /*display: hidden;*/
}
